Source: firebirdwebadmin
Maintainer: Popa Adrian Marius (Mariuz) <mapopa@gmail.com>
Section: web
Priority: extra
Standards-Version: 3.8.0
Build-Depends: yada (>= 0.54)
Build-Depends-Indep: debhelper (>= 4.0.0)
Xsbc-Original-Maintainer: Debian QA Group <packages@qa.debian.org>

Package: firebirdwebadmin
Architecture: all
Depends: php5 (>= 5.2.1) | libapache2-mod-php5, php5-interbase, apache2, ${firebirdwebadmin:Depends}
Suggests: firebird2.1-super-server | firebird2.1-classic, ${firebirdwebadmin:Suggests}
Description: Web-based administration for the Firebird and Interbase database
 firebirdwebadmin is a web frontend for the InterBase and Firebird database
 server. It makes the attempt to support all features which InterBase
 and SQL are offering. Even if this goal is unattainable, quite a few
 steps have already been done. By now firebirdwebadmin has the basic
 functions for creating, deleting, modifying databases, tables,
 generators, triggers and domains. It lets you import, export, enter,
 edit, delete, query, browse your data.
